@layer components {
  .prose-article :where(h1, h2, h3, h4, h5, h6) {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }
  .prose-article :where(h1) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .prose-article :where(h2) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .prose-article :where(h3) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .prose-article :where(p) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .prose-article :where(img) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .prose-article :where(figure) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .prose-article :where(ul, ol) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .prose-article :where(li) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
