.md-article {
  color: var(--color-text-base);
}
.md-article p > strong {
    font-weight: bold;
}

.md-article p {
    margin-left: 0.5rem;
    line-height: 1.5;
}

.md-article h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    &:not(:first-child) {
        margin-top: 12px;
    }
}
.md-article h2 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5;
    &:not(:first-child) {
        margin-top: 0.75rem;
    }
}
.md-article h3 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    &:not(:first-child) {
        margin-top: 0.75rem;
    }
}
.md-article h4 {
    font-size: 1rem;
    line-height: 1.5;
    &:not(:first-child) {
        margin-top: 0.75rem;
    }
}

.md-article a {
    color: var(--color-blue-700);
}
.md-article a:hover {
    color: var(--color-rose-500);
}

.md-article ul {
    padding-left: 0.75rem;
}
.md-article ul > li {
    margin-top: 0.25rem;
    position: relative;
}
.md-article ul > li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: solid 5px transparent;
    border-left: solid 5px var(--color-text-base);
    border-bottom: solid 5px transparent;
    left: -8px;
    top: calc(1rem / 2 - 4px);
    margin-right: 0.25rem;
}
.md-article ul > li > p {
    display: inline-block;
}
.md-article li > ul {
    margin: 0.25rem 0 0 1rem;
}
.md-article li > ul > li {
    position: relative;
}
.md-article li > ul > li::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 4px;
    height: 4px;
    border: solid 1px var(--color-text-base);
    border-radius: 50%;
    margin-right: 4px;
    top: calc(1rem / 2 - 2px);
    left: -8px;
}
.md-article ol {
    counter-reset: item;
}
.md-article ol > li::before {
    counter-increment: item;
    content: counter(item) '. ';
}

.md-article img {
    display: block;
    height: 100%;
    width: 80%;
}

.md-article blockquote {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    line-height: 1.5;
    position: relative;
    border-left: 2px solid var(--color-gray-300);
    color: var(--color-slate-400);
}

.md-article p > code {
    background-color: var(--color-gray-300);
    opacity: 20%;
    color: var(--color-gray-800);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
}

.md-article pre {
    margin-left: 0.5rem;
}

@media (min-width: theme('screens.sm')) {
    .md-article ul {
        padding-left: 1rem;
    }
    .md-article img {
        display: block;
    }
}